OPENRESTY_IMAGE_NAME=openresty-allinone:local
OPENRESTY_CONTAINER_NAME=openresty-allinone
OPENRESTY_HTTP_PORT=8080
OPENRESTY_HTTPS_PORT=8443
OPENRESTY_HOT_RELOAD=true
OPENRESTY_HOT_RELOAD_MODE=poll
OPENRESTY_POLL_INTERVAL=2
HOST_NGINX_MAIN_CONF=./nginx/nginx.conf
HOST_NGINX_CONF_DIR=./nginx/conf.d
HOST_LUA_DIR=./lua
TZ=Asia/Shanghai
